*.o.cmd
*.cmd
*~
*.old
.missing-syscalls.d
.tmp_System.map
.tmp_vmlinux*
.version
Module.symvers
System.map
.tmp_*.S
.tmp_*.o
.tmp_versions
*.o
*.S
modules.builtin
modules.order
asm-offsets.s
modules.buildin
uImage
*.a
*.ko
*.mod.c
hw/imx507/linux-2.6.35.3-USBHOST/include/config
hw/imx507/linux-2.6.35.3-USBHOST/include/generated
vmlinux
bounds.s
version.h
cscope.out


